---
---

@import "{{ site.theme }}";

.transparent-img {
    opacity: 0.85;
    border-radius: 16px;
    margin: 16px 0;
}

.details {
    summary {
        margin: 16px 0 0 0;
        font-weight: 900;
    }
    .details-project {
        margin-left: 16px;
    }
}

p {
    margin: 0 0 10px;
}

h2 {
    margin: 20px 0;
}

details {
    p {
        padding-left: 8px;
    }
}