---
---

@import "{{ site.theme }}";

.transparent-img {
    opacity: 0.85;
    border-radius: 16px;
    margin: 16px 0;
}

.details {
    summary {
        margin: 16px 0 0 0;
        font-weight: 900;
    }
    .details-project {
        summary {
            font-weight: normal;
        }

        margin-left: 16px;
    }
    p {
        padding-left: 8px;
    }
    .date {
        text-decoration: underline;
    }
}

p {
    margin: 10px 0;
}

h2 {
    margin: 20px 0;
}