---
---

@import "{{ site.theme }}";

.transparent-img {
    opacity: 0.85;
    border-radius: 16px;
    margin: 16px 0;
}

.details {
    summary {
        margin: 16px 0;
        font-weight: 900;
    }
}

p {
    margin: 0 0 12px;
}